*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #090d42;
    color: white;
}

#header{
    width: 100%;
    height: 150vh;
    background-image: url(Images/backgroundgif.gif);
   background-size: 70vh;
   background-attachment: fixed; 
   background-repeat: no-repeat;
   background-position: calc(100% - 100px) 140px;
   background-color: rgba(0, 0, 0, 0.5);
    
   
   
}
.container{
    padding: 10px 10%;
    
}

nav{
    position: fixed; 
    top: -5px; 
    left: 0; 
    right: 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1000; /* Add z-index to ensure the navbar is above other content */
    padding: 10px 0;
    background-color: #090d42;
    background-position: fixed;
    border: 2px solid #0b1661;
    
    
}
nav  i {
    color: white;
    margin-top: 10px 20px;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    
    }
    nav i:hover{
        color: #ff004f;
        animation: shaking 0.5s infinite;
        
    }
    /* This is an animation that allows icon to shake */
    @keyframes shaking {
        0% {transform: rotate(0deg);}
        20% {transform: rotate(-4deg);}
        50% {transform: rotate(0deg);}
        70% {transform: rotate(4deg);}
        100% {transform: rotate(0deg);}
     }

    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }

    nav ul li a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }

    nav ul li a:after{
      
        content: '';
        width: 0;
        height: 3px;
        background: #1F51FF;
        position: absolute;
        left: 0;
        bottom: -6px;
       
        transition: 0.3s;
    }

    nav ul li a:hover::after{
        width: 100%;
        
    }
    

    .header-text{
        margin-top: 15%;
        font-size: 30px;
       
    }
    .typing{
        width: 100%;
        height: 15vh;
        color: white;
        display: flex;
        
    }
    .auto-type {
        margin-left: 15px;
        color: yellow !important;
        
    }
    .header-text p{
        color: #5e96cb;
        font-size: 50px;
        font-weight: 800;
    }
    #lines {
        display: block;
        font-size: 20px;
        margin-top: 70px;
        margin-bottom: 50px;
        color: white;
       
    }

    .header-text h1{
        font-size: 40px;
        margin-top: 20px;
    }

    .header-text h1 span{
        color: #ff004f;
    }

    /* ----About---- */

    #about{
    
        padding: 80px 0px;
        color: #fffffffa;
        
    }
    .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .about-col-1{
        flex-basis: 35%;

    }

    .about-col-1 img{
        width: 100%;
        border-radius: 15px;
    }

    .about-col-2{
        flex-basis: 60%;
    }

    .sub-title{
        font-size: 60px;
        font-weight: 600;
        color: white;
        margin-bottom: 15px;
    }

    .tab-titles{
        display: flex;
        margin: 20px 0px 40px;
    }
    .tab-links{
        margin-right: 50px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
    }

    .tab-links:after{
        content: '';
        width: 0;
        height: 3px;
        background: #1F51FF;
        position: absolute;
        left:0;
        bottom: -8px;
        transition: 0.5s;
        
    }
    .tab-links.active-link::after{
        width: 50%;
        

    }
    
    .tab-contents{
        display: none;
    }
    
    .tab-contents.active-tab{
        display: block;
    }
    
    .tab-contents ul li{
         list-style-type: disc; 
        /*column-count: 4; 
    column-gap: 20px; */
        margin: 10px 0;
    }

    .tab-contents ul li span{
        color: #f8fc05;
        font-size: 14px;
       
       
    }
    
    
/* ---------------Services------- */
#projects{
    padding: 30px 0;
    margin-top: 30px;
    }

   
.projects-list{
    display: grid ;
   
    /* This is done to make website responsive.
   So, when you put it all together, grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); creates a grid layout where the columns will automatically adjust based on the available width of the container. Each column will be at least 250 pixels wide, and any extra space will be distributed equally among the columns, making them responsive to changes in the container's width. This is a common technique for creating flexible and responsive grid layouts in CSS.  */
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    margin-top: 50px; 
}

.projects-list a{
    text-decoration: none;
}
.repositories{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
    color: white;
    
}
.repositories a{
    color: #ff004f;
    text-decoration: none;
    position: relative;
   
}
.repositories a:after{
    content: '';
    width: 0;
    height: 3px;
    background: #1F51FF;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.repositories a:hover::after{
    width: 100%;
}


.projects-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
}

.projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
   
}
.projects-list a i{
    color: white;
    margin-top: 20px;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
  
}
.projects-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.projects-list div:hover{
    background-color: #e23232;
    
    transform: translateY(-10px);
}
/* ---------------Portfolio----------- */
#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    margin-top: 50px;  
 
  
}
.work{
    border-radius: 10px;
       position: relative;
       overflow: hidden;
       padding: 20px;
}

.work img{
    width: 100%;
    border-radius: 10px;
  display: block;
transition: transform 0.3s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.3s;
}
.layer h3{
    font-weight: bold;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    background: white;
    line-height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
transform: scale(1.1);
}

.work:hover .layer{
height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #dfe3ef;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.3s;
}
.btn:hover{
    background: #e61a1a;
    color: black;
    font-weight: bold;
}

.submitting-button {
    background: rgb(7, 78, 233) !important; /* Change the background color to violet */
    cursor: not-allowed !important;
    color: white !important;
    font-weight: bold !important;
}

/* ----Contact----- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: rgb(14, 221, 10);
    margin-right: 15px;
    font-size: 25px;
   
}

.social-icons{
    margin-top: 30px;

}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.3s;
}

.social-icons a:hover{
    color: aqua;
    transform: translateY(-5px);
}
.btn.btn2{
display: inline-block;
color: black;
background: #e61a1a;
font-weight: 700;
cursor: pointer;
}

.btn.btn2:hover{
    box-shadow: 0px 15px 20px rgba(216, 11, 11, 0.4);
    transform: translateY(-7px);
    transition: transform 0.3s;
}

.contact-right form{
width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #0b1661;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

form input:-webkit-autofill,
form input:-webkit-autofill:hover, 
form input:-webkit-autofill:focus, 
form input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5s ease-in-out 0s;
    box-shadow:  0 0 5px 5px #0b1661;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #0b1661;
    font-weight: 300;
    margin-top: 20px;
}

nav .phone{
    display: none;
}



/* css for small screen */
@media only screen and (min-width:300px ) and (max-width:1024px){
    #header{
        background-image: url(Images/mobile.avif);
        background-position: center;
        background-size: 700px;
        height: 900px;
       
        background-attachment: fixed;
   
        background-repeat: no-repeat;
      
       
       
    }

   
    .header-text{
        margin-top: 10px;
        font-size: 16px;
        display: block;
        transform: translateY(-100%); 
        animation: slide-in 1s ease forwards;
    }
    .header-text h1{
        color: #fbf7f0;
        margin-top: 10px;
        font-size: 30px;
       ;
    }
    .header-text h3{
        margin-top: 5px;
        color: #f0f1ed;
       
    }
    .header-text p {
        font-size: 24px;
       
        color: #e0e2eb;
       
        font-weight: 800; 
        margin-top: 200px;
        width: 100%;
    white-space: nowrap;
    overflow: hidden;
    
    /* for animation 
     */
    
  
    }
    @keyframes slide-in {
        to {
            transform: translateY(0); /* Move the element to its original position */
        }
    }
    
    .typing{
        display: none;
    }
    

    
   
    nav .phone{
        display:block;
        font-size: 25px;
        

    }
    nav i{
        margin-left: 8px;
    }
    nav ul{
        background: #424791;
        position: fixed;
        top:0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.3s;
        
    }
    nav ul li{
        display: block;
        margin: 25px;
       
    }
    nav ul .phone{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
       
    }
    .phone i{
        margin-right: 8px;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;

    }
    .about-col-1{
        margin-bottom: 30px;

    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,.contact-right{
        flex-basis: 80%;
        margin-left: 40px;
    }
    .copyright{
        font-size: 14px;
    }
    #lines{
        display: none;
    }
    
    

}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}

.submitting-button {
    background: rgb(7, 78, 233) !important; /* Change the background color to violet */
    cursor: not-allowed !important;
    color: white !important;
    font-weight: bold !important;
}



